.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 250px);
}

.form {
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

label {
  display: block;
  margin-bottom: 10px;
}

.input-group {
  display: flex;
}

input {
  flex: 1;
  padding: 8px;
  margin-right: 5px;
  box-sizing: border-box;
}

button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}
