<button class="btn-identify" type="button" routerLink="/identify">login</button>
<button class="btn-learn" type="button" routerLink="/play">play </button>
<button class="btn-home" type="button" routerLink="/home">Home </button>
<button class="btn-header" type="button" routerLink="/header">Header </button>
<button class="btn-timer" type="button" routerLink="/timer">Timer </button>
<button class="btn-hogh-score" type="button" routerLink="/high-score">High Score </button>

<router-outlet></router-outlet>
